<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark-s border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand text-white-50" [routerLink]="['/']">ASP_NET_ANGULAR</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-white-50" [routerLink]="['/']">Accueil</a>
          </li>
          <li class="nav-item"
              [routerLinkActive]="['link-active']" *ngIf="authService.getIsAuth()">
            <a class="nav-link text-white-50" [routerLink]="['/events']">Évènements</a>
          </li>
          <li class="nav-item"
              [routerLinkActive]="['link-active']" *ngIf="authService.getIsAuth()">
            <a [routerLink]="['/categories']" class="nav-link text-white-50">Catégories</a>
          </li>
          <li class="nav-item"
              [routerLinkActive]="['link-active']" *ngIf="authService.getIsAuth()">
            <a [routerLink]="['/logout']" class="nav-link text-white-50">Déconnexion</a>
          </li>
          <li [routerLinkActive]="['link-active']"
              class="nav-item" *ngIf="!authService.getIsAuth()">
            <a [routerLink]="['/login']" class="nav-link text-white-50">Connexion</a>
          </li>
          <li [routerLinkActive]="['link-active']"
              class="nav-item" *ngIf="!authService.getIsAuth()">
            <a [routerLink]="['/']" class="nav-link text-white-50">S'enregistrer</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
